body {
    font-size: 11pt;
    color-scheme: normal;
    background-color: whitesmoke;
    text-align: justify;
}

pre {
    text-align: left !important;
}

a {
    color: inherit;
    text-decoration: none;
}

a:not(.plain-anchor) {
    color: #f43753;
    font-weight: bold;
}

