body {
    font-size: 11pt;
    color-scheme: normal;
    background-color: whitesmoke;
}

a {
    color: inherit;
    text-decoration: none;
}

a:not(.plain-anchor) {
    color: #f43753;
    font-weight: bold;
}

